<%- include("header") -%>
</div>

<div class="content">
  <br><br>
  <section>


<h1>Quirky Crew</h1>
<br>
<div class="card-deck">
<div class="card" style="width: 18rem;" id="Charlie">
  <img class="card-img-top" src="images\IMG_1187.jpg" alt="Charlie" >
  <div class="card-body">
    <h3 class="card-title">Charlie</h3>
    <h5 class="card-text">ADHD Captive turned asset.</h5>
  </div>
</div>
<div class="card" style="width: 18rem;" id="Morgan">
  <img class="card-img-top" src="images\IMG_1173.PNG" alt="Morgan">
  <div class="card-body">
    <h3 class="card-title">Morgan</h3>
    <h5 class="card-text">Tactition and Leader.</h5>
  </div>
</div>
<div class="card" style="width: 18rem;" id="Ford">
  <img class="card-img-top" src="images\IMG_1170.PNG" alt="Ford">
  <div class="card-body">
    <h3 class="card-title">Ford</h3>
    <h5 class="card-text">Asset Protection and Recovery.</h5>
  </div>
</div>

<div class="card" style="width: 18rem;" id="Jack">
  <img class="card-img-top" src="images\IMG_1169.PNG" alt="Jack">
  <div class="card-body">
    <h3 class="card-title">Jack</h3>
    <h5 class="card-text">Recon Sniper.</h5>
  </div>
</div>
</div>
<br>
<div class="card-deck">
<div class="card" style="width: 18rem;" id="Jade">
  <img class="card-img-top" src="images\IMG_1188.PNG" alt="Jade">
  <div class="card-body">
    <h3 class="card-title">Jade</h3>
    <h5 class="card-text">Assassin and Intelligence.</h5>
  </div>
</div>
<div class="card" style="width: 18rem;" id="Ivy">
  <img class="card-img-top" src="images\IMG_1171.PNG" alt="Ivy">
  <div class="card-body">
    <h3 class="card-title">Ivy</h3>
    <h5 class="card-text">"The Boss"</h5>
  </div>
</div>
<div class="card" style="width: 18rem;">
</div>
<div class="card" style="width: 18rem;">
</div>
</div>
</section>
</div>

<script src="js/home.js" charset="utf-8"></script>
<%- include("footer") -%>
