<%- include("header") -%>
</div>

<div class="content">
  <br><br>
  <section>


    <h1>Quirky Crew</h1>
    <br>

    <div class="card-deck">
      <div class="card" style="width: 18rem;" id="Charlie">
        <form action="/Charlie" method="post">
          <button class="personelImage"  type="submit" name="button">
            <img class="card-img-top" src="images\Charlie_2.jpg" alt="Charlie">
            <div class="card-body">
              <h3 class="card-title">Charlie</h3>
              <h5 class="card-text">ADHD Captive turned asset.</h5>
            </div>
          </button>
        </form>
      </div>

      <div class="card" style="width: 18rem;" id="Morgan">
        <form class="" action="/Morgan" method="post">
          <button class="personelImage" type="submit" name="button">
            <img class="card-img-top" src="images\Morgan_2.jpg" alt="Morgan">
            <div class="card-body">
              <h3 class="card-title">Morgan</h3>
              <h5 class="card-text">Tactition and Leader.</h5>
            </div>
          </button>
        </form>
      </div>

      <div class="card" style="width: 18rem;" id="Ford">
        <form class="" action="/Ford" method="post">
          <button class="personelImage" type="submit" name="button">
            <img class="card-img-top" src="images\Ford_2.jpg" alt="Ford">
            <div class="card-body">
              <h3 class="card-title">Ford</h3>
              <h5 class="card-text">Asset Protection and Recovery.</h5>
            </div>
          </button>
        </form>
      </div>

      <div class="card" style="width: 18rem;" id="Jack">
        <form class="" action="/Jack" method="post">
          <button class="personelImage" type="submit" name="button">
            <img class="card-img-top" src="images\Jack.jpg" alt="Jack">
            <div class="card-body">
              <h3 class="card-title">Jack</h3>
              <h5 class="card-text">Recon Sniper.</h5>
            </div>
          </button>
        </form>
      </div>
    </div>

    <br>

    <div class="card-deck">
      <div class="card" style="width: 18rem;" id="Jade">
        <form class="" action="/Jade" method="post">
          <button class="personelImage" type="submit" name="button">
            <img class="card-img-top" src="images\Jade.jpg" alt="Jade">
            <div class="card-body">
              <h3 class="card-title">Jade</h3>
              <h5 class="card-text">Assassin and Intelligence.</h5>
            </div>
          </button>
        </form>
      </div>

      <div class="card" style="width: 18rem;" id="Ivy">
        <form class="" action="/Ivy" method="post">
          <button class="personelImage" type="submit" name="button">
            <img class="card-img-top" src="images\IMG_1171.PNG" alt="Ivy">
            <div class="card-body">
              <h3 class="card-title">Ivy</h3>
              <h5 class="card-text">"The Boss"</h5>
            </div>
          </button>
        </form>
      </div>

      <div class="card" style="width: 18rem;">
      </div>
      <div class="card" style="width: 18rem;">
      </div>
    </div>
  </section>
</div>

<script src="js/home.js" charset="utf-8"></script>
<%- include("footer") -%>
