<%- include("header") -%>
</div>

<div class="content">
  <br><br>
  <section>
<div class="enterScreen">


<button type="button" name="button">
<img id="enterButton" src="images\enterButton.png" alt="Enter">
</button>


<video hidden preload="true" id="myVideo" onended="window.open('/home', '_self');">
  <source src='images\pipboy bootanimation.mp4' type='video/mp4'>
</video>

</div>
</section>
<script src="js/landing.js" charset="utf-8"></script>
</div>
<%- include("footer") -%>
